html {
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
}

*, *:before, *:after {
	box-sizing: inherit;
}

body {
	background-color: LightGray;
	font-family: 'Roboto', sans-serif;

}

button {
	padding: 1rem 1.5rem;
	text-shadow: none;
	border-style: none;
	border-radius: 4px;
}

.content {
	padding: 0px 15px;
	margin: 0 auto;
	width: 970px;
}

/* Navigation Section*/
.top-navigation {
	background-color: #fff;
	position: fixed;
	width: 100%;
	z-index: 9999;

}

.top-navigation > .content {	
	height: 70px;	
	font-size: 16px;
	letter-spacing: 0.03em;
}

.top-navigation .links > .active a {
	color: #4c5058;
	font-weight: 500;
	transition: color 0.25s;
}

.top-navigation .links {
	float: right;
}

.top-navigation .links > li, a {
	display: inline-block;
	margin-top: 0.25em;
	margin-left: 15px;
	color: #838994;
	transition: color 0.25s;
	text-decoration: none;	
}

.top-navigation .active a:hover {
	color: #333333;
}

.top-navigation .links li, a:hover {
	color: #333333;
	cursor: pointer;
}

/*Intorduction Section*/

.introduction {
	height: 45.938rem;
	background: url(../images/first-background.jpg);
	background-repeat: no-repeat;
	background-position: center bottom;
	background-size: cover;
}

.introduction .content {
	height: 45.938rem;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;	
}

.introduction h1 {
	font-size: 3rem;
	margin: 0;	      
}

.introduction h3 {
	font-size: 1.5rem;
	margin: 0;
}

.introduction h1, .introduction h3 {
	color: white;
	text-align: center;
	font-weight: 100;
}

.introduction button {
	width: 10rem;
	background-color: #F15B2A;
	font-size: 20px;
	color: white;
	margin: 0 auto;
	margin-top: .5rem;
	transition: color 0.5s;
}

.introduction button:hover {
	background-color: #ef4410;
	cursor: pointer;
}

/*Cases Section*/

.cases {
	padding-top: 2rem;
	color: black;
	text-align: center;
	background-color: white;
}

.cases .devices {
	width: 33.3333%;
	display: inline-block;
	display: inline-flex;
	flex-direction: row;
	justify-content: center;
}

.cases h2 {
	font-size: 2.75rem;
	font-weight: 100;
}

.cases h3 {
	font-size: 1.5rem;
	font-weight: 100;
}

.cases h2, h3 {
	letter-spacing: 0.05rem;
}

.cases .devices ul {
	list-style: none;
}

.cases img {
	height: 127px;
	width: 127px;
}

/*Footer Section*/

.social {
	background: white;
}

.social .content {
	text-align: center;
}

.social .icons {	
	justify-content: center;
	align-items: center;	
	display: inline-flex;
	width: 100%;

}

.social p {
	border-top: 1px solid lightgrey;
	margin-top: 0;
	margin-bottom: 0;
	padding-top: .5rem
}

.social ul {
	padding: 0;
}

.social li {
	list-style: none;
	display: inline-block;
	margin: .5rem;
	border: 1px solid #eaebec;	
	border-radius: 100%;
	height: 35px;
	width: 35px;
	padding: .5rem 0;
}

.social li:hover {
	cursor: pointer;
}

.fa-twitter {
	color: #00ACED;
}

.fa-facebook, .fa-instagram {
	color: #3B5998;
}

.social .copy {
	color: lightgrey;
	font-weight: 700;
}



